.img {
    float:left
}

.description {
    max-width: 400px;
    float: left;
    font-size: 20px;
    text-align: justify;
}

.measurmentIcon {
    margin-bottom: 5px;
}

.measurment {
    margin-top: 10px;
    margin-left: 30px;
    vertical-align: baseline;
    clear: both;
    float: left;
}

.detailsTypes {
    margin-left: 130px;
    float: left;
}

.evolutions {
    clear:both
}