.parent {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: rgba(37, 66, 93, 0.815);
    padding: 50px 100px;
    background-blend-mode: color-burn;

}
.gridBg {
    display: flex;
    justify-content: center;
}

.loadMoreButton {
    background-image: url('./img/pokeball-loader.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
}

.loadMoreButton:hover {
    transform: rotate(360deg);

}

.loadMoreButton:active {
    transform: translateY(4px);
}